/node_modules
/public/hot
/wp-admin
/wp-includes
/public/storage
/storage/*.key
/storage/framework
/vendor
/.idea
.idea
.env
.env.backup
config.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
