@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.trip-search {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;


  &__item {

  }

  &__button{
    grid-column-start: 1;
    grid-column-end: 4;
    background: #fff200;
    cursor: pointer;
    padding: 15px;
  }
}
